.choco {


    &__container {
        @include df-column-end-center;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }


    &__images {
    }
}

